{# src/Alex/PlatformBundle/Resources/views/Exercice/add.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
<div class="well">
	<div class="row">
		<div class="col-sm-5">
			{{ form(form) }}
		</div>
	</div>
</div>
{% endblock %}