{# src/Alex/PlatformBundle/Resources/views/Exercice/add.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}

	{% set exercice = 0 %}

	<h2>Séance du : {{ series[0].seance.date|date('d/m/Y') }} </h2>

	{% for ex in series %}
		
		{% if ex.exercice.id != exercice %}
			{% set exercice = ex.exercice.id %}
			<h2>{{ ex.exercice.libelle }}</h2>
		{% endif %}
		<ul>
			<li>{{ ex.rep }}x{{ ex.charge }} </li>
		</ul>
			
	{% endfor %}
{% endblock %}